PORT=3000
CORS_ORIGIN=http://localhost:3000,https://prateek11710.github.io
WHATSAPP_API_VERSION=v22.0
WHATSAPP_PHONE_NUMBER_ID=your_meta_phone_number_id
WHATSAPP_ACCESS_TOKEN=your_meta_whatsapp_access_token
WHATSAPP_OWNER_NUMBER=919105624475
